[submodule "extern/libsmrf"]
	path = extern/libsmrf
	url = https://github.com/JeanMax/libsmrf
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "extern/OpenGL"]
	path = extern/OpenGL
	url = https://github.com/McNopper/OpenGL
